services:
  postgres:
    image: postgres:16
    container_name: schedulr_postgres
    environment:
      POSTGRES_USER: schedulr
      POSTGRES_PASSWORD: schedulr
      POSTGRES_DB: schedulr
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build:
      context: ./apps/api
      dockerfile: Dockerfile
    container_name: schedulr_api
    env_file:
      - ./apps/api/.env

    ports:
      - "8000:8000"
    volumes:
      - ./apps/api:/app
    depends_on:
      - postgres

volumes:
  pgdata:
